body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-second-part {
    color: #2E2F42;
}

.site-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0;
}

.site-links:hover,
.site-links:focus {
    color: #404BBF;
}

.phone-and-mail {
    font-style: normal;
}


.adress-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.adress-data:hover,
.adress-data:focus {
    color: #404BBF;
}

.first-slide {
    background-color: #2E2F42;
    padding: 188px 0;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.order-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: block;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 48px;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.second-slide-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;

}

.second-slide-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.third-slide {
    background-color: #F4F4FD;
}

.third-slide-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.third-slide-list-item {
    background-color: #FFFFFF;
}

.third-slide-employee {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.third-slide-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.fourth-slide-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.project-example-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.project-example-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.ending {
    background-color: #2E2F42;
}

.ending-logo-second-part {
    color: #F4F4FD;
}

.ending-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #F4F4FD;
}

.container {
    margin: 0 auto;
}

.site-header {
    border-bottom: 1px solid #E7E9FC;
}

.site-header-container {
    display: flex;
    padding: 24px 15px;
    max-width: 1158px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-site-links {
    display: flex;
    gap: 40px;
}

.phone-and-mail-for-flex {
    display: flex;
    gap: 40px;
    margin-left: 332px;
}